.dashcm * {
    font-family: 'Inter', sans-serif;
}
.dashcm__title {
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    color: #262626;
    margin-bottom: 24px;
}
.dashcm__header {
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #EBEBEB;
}
.dashcm__body + .dashcm__body {
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid #EBEBEB;
}
.dashcm__item {
    display: grid;
    grid-template-columns: 1fr 1fr .5fr .5fr .5fr .5fr 32px;
    gap: 20px;
}
.item-dahcm__title {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #666666;
}
.item-dahcm__profile {
    display: flex;
    align-items: center;
}
.item-dahcm__avatar {
    flex-shrink: 0;
    display: block;
    width: 48px;
    height: 48px;
    background: rgba(0, 0, 0, 0.08);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.item-dahcm__avatar img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item-dahcm__avatar.noAvatar::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 24px;
    height: 24px;
    -webkit-mask: url('../image/camera-no.svg') center / cover no-repeat;
            mask: url('../image/camera-no.svg') center / cover no-repeat;
    background: #fff;
}
.item-dahcm__username {
    margin-left: 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #333333;
}
.item-dahcm__actions {
    display: flex;
    align-items: center;
}
.item-dahcm__line {
    width: 100%;
    height: 8px;
    background: rgba(240, 115, 60, 0.16);
    border-radius: 8px;
}
.item-dahcm__line.active {
    background: #F0733C;
    border-radius: 8px;
    margin-right: 2px;
}
.item-dahcm__percent {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #F0733C;
    margin-left: 16px;
    flex: 0 0 30px;
}
.item-dahcm__text {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #262626;
}
.item-dahcm__text .changes {
    display: block;
    margin-top: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #26A57A;
}
.item-dahcm__text .changes.down {
    color: #F14C53;
}
.item-dahcm__toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 0;
    width: 32px;
    height: 32px;
    background: #F8F7FA;
    border-radius: 8px;
    cursor: pointer;
    transition: background .35s;
}
.item-dahcm__toggle .icon {
    display: block;
    width: 16px;
    height: 16px;
    -webkit-mask: url('../image/arrow-down.svg') center / cover no-repeat;
            mask: url('../image/arrow-down.svg') center / cover no-repeat;
    background: #7C7A87;
    transform: rotate(0deg);
    transition: background .35s, transform .35s;
}
.item-dahcm__toggle.active {
    background: #F0F0FF;
}
.item-dahcm__toggle.active .icon {
    background: #5947B3;
    transform: rotate(180deg);
}
.item-dahcm__toggle.active:hover,
.item-dahcm__toggle:hover {
    background: #5947B3;
}
.item-dahcm__toggle.active:hover .icon,
.item-dahcm__toggle:hover .icon {
    background: #fff;
}
.dashcm__sub {
    max-height: 0;
    overflow: hidden;
    padding: 0 20px;
    margin-top: 0;
    margin-left: 60px;
    background: #F8F7FA;
    border-radius: 16px;
    transition: padding .35s, max-height .35s, margin-top .35s;
}
.sub-dashcm__row {
    display: flex;
    align-items: center;
}
.sub-dashcm__row + .sub-dashcm__row {
    margin-top: 8px;
}
.sub-dashcm__title {
    flex-basis: 165px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #666666;
}
.sub-dashcm__text {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #262626;
}